{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Submit a new Project</h2>


  <!-- author detail link not yet defined -->
  <p>
    <form action="." method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col">
      {{ form.title }}
      </div>
      <div class="col">
        <label for="ProjectREBNumber" class="form-label">REB Number</label>
        {{ form.reb_num }}
      </div>
      </div>
      <input type="submit" value="Submit" />
    </form>



  </p>


{% endblock %}
