{% extends "base_generic.html" %}

{% block content %}
  <h3>Projects submitted by you</h3>
  {% if project_list %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">REB Number</th>
          <th scope="col">Title</th>
          <th scope="col">Created By</th>
          <th scope="col">Created At</th>
          <th scope="col">Edit Project</th>
        </tr>
      </thead>
      <tbody>
        {% for project in project_list %}
        <tr>
          <th scope="row">{{project.reb_num}}</th>
          <td><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></td>
          <td>{{project.creator}}</td>
          <td>{{project.created_at}}</td>
          <td></td>

        </tr>
        {% endfor %}
      </tbody>
    </table>


  {% else %}
    <p>There are no projects in the the database.</p>
  {% endif %}
{% endblock %}